<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DSharpPlus" version="4.0.0-rc1" targetFramework="net461" />
  <package id="Emzi0767.Common" version="2.2.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.8" targetFramework="net461" />
  <package id="Mono.Options" version="6.6.0.161" targetFramework="net45" />
  <package id="Mono.Posix-4.5" version="4.5.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.WebSockets.Client" version="4.3.2" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>